.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: rgba(245, 244, 250, 1);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--title-color);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.list-team {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}

.item-team {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:nth-child(4n) {
    margin-right: 0px;
  }
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-color);
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.team-border {
  padding-top: 30px;
  border: 1px solid transparent;
  padding-bottom: 30px;
  background-color: rgba(255, 255, 255, 1);
}

.team-metier {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 16px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--brand-color);
  }
}

.social-list-icon {
  fill: rgba(175, 177, 184, 1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .social-list-link:hover &,
  .social-list-link:focus & {
    fill: #ffffff;
  }
}

.address {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
